button {
	background-color: transparent;
	border-style: solid;
	border-radius: 0.5rem;
	color: white;
	border-color: white;
	font-size: 0.8rem;
	padding: 0.5rem;
}

h3 {
	font-size: 1.9rem;
	color: white;
	padding: 0;
	margin: 0;
}
p {
	padding: 0;
	margin: 1rem 0;
	font-size: 3.9rem;
	font-weight: bold;
	background-color: black;
	color: red;
	border-radius: 0.5rem;
}
body {
	margin: 0;
}

.container {
	display: flex;
	justify-content: space-around;
	align-content: center;

	background-color: darkblue;
	padding: 2rem;
	text-align: center;
}
